body
{
	background-color:rgb(40,40,40);
	color:rgb(255,255,255)
	background-image: url("pictures/backdrop.png");
	font-size: .85vw;
	
}

/*@media (max-width: 3840px) {
  body { font-size: 2em; }
}
@media (max-width: 1920px) {
  body { font-size: 1em; }
}
@media (max-width: 1600px) {
  body { font-size: 0.833333333em; }
}
@media (max-width: 1440px) {
  body { font-size: 0.75em; }
}
@media (max-width: 720px) {
  body { font-size: 0.375em; }
}
@media (max-width: 480px) {
  body { font-size: 0.25em; }
}
*/


img.header {
    max-height: 10.729vw;
	position: absolute;
	position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
	overflow-x: hidden;
	overflow-y: hidden;
}

a:link
{
	color: #d30a25;
}

a:visited
{
	color: #d30a25;
}

.centerImage
{
text-align: center;
display: block;
}

.tab 
{ 
margin-left: 2.083vw; 
}

p.format1
{
 font-size: 1.3em;
 margin-left: .2604vw;
 display: inline-block;
 float: left;
}

p.format2
{
	max-width: 43.75vw;
	font-size: 1.2 em;
	margin-right: 1.5625vw;
	display: inline-block;
	float: right;
}

p.format3
{
	
	font-size: 1.3em;
	margin-left: .2604vw;
	margin-right: 14.5833vw;
	display: inline-block;
	float: right;
}

p.format4
{
	max-width: 43.75vw;
	font-size: 1.4em;
	margin-right: 40.5625vw;
	display: inline-block;
	float: right;
}

div.floated
{
    float: right;
	margin-right: 7.2916vw;
}


div.format1
{
float: right;
margin-right: 21vw;
text-align: center;
}

table.format1
{
float: right;
margin: 0px 4.16666vw 0px 0px;
}

.clearfix{
    clear:both
}

body {
		color: white;
	}
	
div.showcase-entry img.thumbnail {
	display: block;
	max-width: 15.416666vw;
	margin: 0 auto 0 auto;

	border: .2604vw solid transparent;
	

	transition: border-color 0.15s linear;
	
}
div.showcase-entry a:hover img.thumbnail {
	border: .2604vw solid #d30a25;
}


div.showcase-entry2 img.thumbnail2 {
	
	height: 13.02083vw;
	max-width: 21.875vw;
	margin: 0 auto 0 auto;
	float: left;

	border: .2604vw solid transparent;
	

	transition: border-color 0.15s linear;
	
}
div.showcase-entry2 a:hover img.thumbnail2 {
	border: .2604vw solid #d30a25;
}



p.ex1 {
    margin: 0px .78vw 0px 0px;
}

p.ex {
 
    max-width: 20.833333vw;
}

img.icon {
	max-width:3vw;
	float: middle;
}


